[submodule "galaxy-common"]
	path = galaxy-common
	url = git@github.com:ansible/galaxy-common.git
[submodule "galaxy-api"]
	path = galaxy-api
	url = git@github.com:ansible/galaxy-api.git
[submodule "galaxy-worker"]
	path = galaxy-worker
	url = git@github.com:ansible/galaxy-worker.git
[submodule "galaxy-importer"]
	path = galaxy-importer
	url = git@github.com:ansible/galaxy-importer.git
