[submodule "galaxy-api"]
	path = galaxy-api
	url = git@github.com:ansible/galaxy-api.git
[submodule "galaxy-importer"]
	path = galaxy-importer
	url = git@github.com:ansible/galaxy-importer.git
[submodule "pulp-ansible"]
	path = pulp-ansible
	url = git@github.com:pulp/pulp_ansible.git
