psycopg2-binary
mazer
packaging
git+https://github.com/pulp/pulpcore.git@06c1aeeb8e58a93bf190adcdcf5c41e8ea215975#egg=pulpcore
git+https://github.com/pulp/pulpcore-plugin.git@0e8f9e7720a4f28afaefa258bd7c0d2429eb99b4#egg=pulpcore_plugin
